<%= form_for([:cpanel, @cpanel_site_config]) do |f| %>
  <% if @cpanel_site_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpanel_site_config.errors.count, "error") %> prohibited this cpanel_site_config from being saved:</h2>

      <ul>
      <% @cpanel_site_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field" style="display:none">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field"  style="margin: 2em 5em;">
    <%= f.text_area :value %>
  </div>

  <div class="quick-press"  style="margin: 2em 5em;">
    <%= f.submit class:"submitbutton",style:'padding:1px 5px', value:' 保 存 '%>
    <button class="submitbutton" style="padding:1px 10px;margin:0px 15px" onclick="window.history.go(-1);return false;">取 消</button>
  </div>

<% end %>

<script>
//CKEDITOR.replace('site_config_value',{
//   "extraPlugins": "imagebrowser",
//   "imageBrowser_listUrl": "/ckeditor/pictures/image_list.json"
// });
</script>
