<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%;height:140px;background-image:url(
      <% if @services_bar_image && @services_bar_image.picture && @services_bar_image.picture.avatar %>
        <%= @services_bar_image.picture.avatar.url %>
      <% end %>
      );background-size:100%;" >
      <h1 class="ipacro-headline" style="left:20px;position:relative;border-radius:10px;background:url('../images/nav.png');width:95%;transform:skew(-12deg);line-height:51px;text-indent:15px"><%=t('services')%></h1>
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout" style="min-height:350px;">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 
      <% if @english %>
        25%;
      <%else%>
        22%;
      <%end%>
      background:url('../images/header.png');background-position:center">
        <%= render partial:'common/services/service_left'%>
      </div>
      <div class="ipacro-layout-cell layout-item-0">
        <div class="layout-item-2 page-curl" style="min-height:300px;margin-top:5px">
          <h6 style="margin:2px 0 2px 0">
            <%=t('urhere')%><a href="<%= root_path%>"><%=t('home')%></a> > <%=t('services')%>>
            <hr>
          </h6>
          <% if @service %>
            <%= @service.content.html_safe %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render partial:'common/misc/totop'%>
</div>