<ul data-role="listview" data-inset="true" data-icon="false" class="newsactivities">
  <li data-role="divider">
    <%= t('activities')%>
  </li>
  <% @front_activities.each do |item| %>
    <li>        
      <a href="<%=mobile_activity_show_path(item)%>">
        <% if item.created_at %>
          <%= item.created_at.strftime('%Y-%m-%d') %>
        <%else%>
          &nbsp;
        <% end %>
        &nbsp;&nbsp;
        <%=item.title%>
      </a>
    </li>
    <% end %>
    <li>
      <%=link_to t('More'), mobile_activities_path,data:{role:"button"},data:{inline:"true"},style:"text-align:right"%>
    </li>
</ul>    