<div data-role="panel" id="thepanel" data-display="overlay" data-position-fixed="true" >
    <!-- panel content goes here -->
  <ul data-role="listview">
    <li data-role="separator">IPA-CRO Menu</li>
    <li><%= link_to t('home'), mobile_path %></li>
    <li><%= link_to t('about'), mobile_about_path %></li>
    <li><%= link_to t('services'), mobile_services_path %></li>
    <li><%= link_to "news", mobile_news_path %></li>
    <li><%= link_to "activities", mobile_activities_path %></li>
    <li><%= link_to "positions", mobile_positions_path %></li>
    <li><%= link_to "contact", mobile_contact_path %></li>
  </ul>
</div>