<div data-role="panel" id="thepanel" data-display="overlay" data-position-fixed="true" >
    <!-- panel content goes here -->
  <ul data-role="listview">

    <h1>dapja</h1>
<a href="#" data-role="button" data-rel="close" data-iconpos="notext" data-icon="delete" class="ui-btn-right">sss</a>
    <li><%= link_to "Home", '/mobile' %></li>
    <li><%= link_to "about", '/mobile/about' %></li>
    <li><%= link_to "services", '/mobile/services' %></li>
    <li><%= link_to "news", '/mobile/news' %></li>
    <li><%= link_to "activities", '/mobile/activities' %></li>
    <li><%= link_to "positions", '/mobile/positions' %></li>
    <li><%= link_to "contact", '/mobile/contact' %></li>
  </ul>
</div>