<style type="text/css">
  .ui-panel-inner>div>a,.ui-panel-inner>div>a:link,.ui-panel-inner>div>a:hover,.ui-panel-inner>div>a:visited{
     color:#3991e5 !important;
  }
</style>
<div data-role="panel" id="language" data-display="push" data-position-fixed="true" data-position="right" style="background-color:#2f73b2 !important">
  <div>
    <a href="<%=mobile_path(:locale => 'zh-CN')%>" data-role="button" data-icon="home" data-ajax="false">中文版</a>
    <a href="<%=mobile_path(:locale => 'en')%>" data-role="button" data-icon="home" data-ajax="false">English</a>
    <a data-role="button" data-icon="delete" data-rel="close"><%=t('cancel')%></a>
    <%= link_to 'Desktop', '/?&desktop=set', data:{role:"button"} %>
    <%= link_to 'Mobile', '/?&desktop=unset', data:{role:"button"} %>
  </div>
</div>