<div>
  <h2 class="header">h 员工园地管理</h2>
  <div class="monitor">
    <div class="clearfix">
      <div style="min-height:40px;line-height:40px;"> 
        <span style="margin-left:30px">公员工活动列表</span>
        <span class="submitbutton" style="font-family: 'icomoon';margin-left:150px">
        <%= link_to 'q新活动',new_cpanel_activity_path,style:'color:#fff;text-decoration:none;font-size:15px' %>
        </span>
      </div>
      <div style="border:1px solid rgb(235,235,235);margin: 10px 40px;border-radius:5px;heigh:auto;overflow:hidden">
        <ul style="width:100%">
        <% @activities.each do |activity| %>
          <li>
            <%= link_to activity.title, edit_cpanel_activity_path(activity) %>
            <% if activity.created_at %>
              <sub>&nbsp;&nbsp; <%= activity.created_at.strftime('%Y-%m-%d') %><sub>
            <% end %>
            <span style="position: absolute;right:340px">
            <%= link_to 'X  删除', cpanel_activity_path(activity), method: :delete, data: { confirm: '确定要删除这条记录吗？' }, class:'submitbutton' %>
            </span>
          </li>
        <%end%>
        </ul>
        <%= paginate @activities %>
      </div>
    </div>
  </div>
</div>