<!-- original html
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= services_path %>"><%= t('services') %></a></li>
        <li><a href="<%= news_index_path %>"><%= t('news') %></a></li>
        <li><a href="<%= activities_path %>"><%= t('activities') %></a></li>
        <li><a href="<%= positions_path %>"><%= t('positions') %></a></li>
        <li><a href="<%= resumes_path %>"><%= t('resumes') %></a></li>
        <li><a href=""><%= t('about') %></a></li>
      </ul>
    </div>< !- -/.nav-collapse - - >
  </div>
</nav>
-->

<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 100%;padding:0" id="slideshowcontainer">
        <%= render partial:'common/front_index/slideshow'%>
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 58%" >
        <img alt="" width="350" height="250" src="images/shutterstock_24758047.jpg" class="" style="margin-right: 10px; float: left;">
      </div>
      <div class="ipacro-layout-cell layout-item-0" style="width: 42%" >
        <p><span style="font-weight: bold;">Curae dolor sed vitae imperdiet donec lacus felis adipiscing suscipit phasellus diam viverra nunc.</span></p>
        <p>Placerat sit vestibulum nunc nisi netus vitae inceptos. Dapibus massa pretium purus euismod nec a laoreet ligula vel nunc consectetuer vestibulum iaculis urna orci ac. Et rutrum sed non aliquam dui ante quam ante tellus quis enim sit. A laoreet et nam suscipit. Accumsan fusce feugiat a ut vitae eget vivamus justo nibh lorem. Vulputate at lacus placerat rutrum posuere.</p>
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout-wrapper layout-item-1">
    <div class="ipacro-content-layout">
      <div class="ipacro-content-layout-row">
        <div class="ipacro-layout-cell layout-item-2" style="width: 100%" >
          <blockquote style="margin: 0px">
            Malesuada mauris faucibus a sed praesent auctor et leo. Vestibulum faucibus tellus nisi in quis amet nisi gravida quam sagittis fermentum morbi libero suspendisse non. Egestas lacus condimentum leo nisi ut non eu blandit elit in nibh.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width: 39%" >
      <h4>Patient Awareness</h4><div class="image-caption-wrapper" style="float: left; width: 207px"><img alt="" width="100%" height="" src="images/13636.jpg" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;;max-width:489px"><p>Image by Flickr/</p></div><br><br>Sit suscipit cras orci ante. Convallis a imperdiet condimentum libero ultrices quam ut nullam. Quis lacus ultrices metus.<br><br>
      </div>
      <div class="ipacro-layout-cell layout-item-0" style="width: 61%" >
        <h4>Training Programs</h4>
        <div class="image-caption-wrapper" style="float: left; width: 340px"><img alt="" width="100%" height="" src="images/9e797.jpg" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;;max-width:410px"><p>Image by Flickr/Jacob Ehnmark</p>
        </div>
        <br><br>Amet leo nulla dictum auctor a nulla eu nisl augue nam. Magna etiam lobortis erat metus nibh molestie vestibulum primis consequat aenean eros mi mollis eu vestibulum. Tincidunt sagittis ligula aenean vel posuere.
      </div>
    </div>
  </div>
</div>