<%= simple_form_for([:cpanel, @picture]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="margin:5px 30px;font-size:12px;color:gray">
    <br>
    <%= f.input :value ,label:"图片说明："%>
    <br>
    <%= f.input :avatar, label: "选择要上传的图片：" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,class:'submitbutton',style:'padding:1px 5px;margin: 5px',value:'开始上传' %>
    <input class="submitbutton" style="padding:1px 5px;margin: 5px" type="button" value="取消上传" onclick="window.history.go(-1); return false;" />
  </div>
<% end %>
