<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :news_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "添加",class:"ipacro-button"%>
  </div>
<% end %>
