<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
 -->

<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-0" style="width:100%">
        <div class="layout-item-2" style="margin-top:1em;min-height:300px">
          <blockquote style="margin: 0px">
            Malesuada mauris faucibus a sed praesent auctor et leo. Vestibulum faucibus tellus nisi in quis amet nisi gravida quam sagittis fermentum morbi libero suspendisse non. Egestas lacus condimentum leo nisi ut non eu blandit elit in nibh.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>