<div class="ipacro-layout-cell layout-item-2 page-curl" style="width:475px;position:relative;" >
  <h3 style="margin-bottom:5px">
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('Top News')%>
  </h3>
  <%=link_to t('More'),news_index_path,class:'morebutton' %>
  <hr>
  <ul class="theitem">
  <li>&nbsp;</li>
  <% @front_news.each do |item| %>
    <li style="margin-left:30px">
      <% if item.created_at %>
      <span style="margin-right:40px"><%= item.created_at.strftime('%Y年%m月%d日') %></span>
      <% end %>
      <%= link_to item.title, item %>
    </li>
  <% end %>
  </ul>
</div>
<div class="ipacro-layout-cell layout-item-0" style="background-image: url('/images/rings_.png');background-position-x: -6px;position: absolute;z-index: 200;height:250px;width:46px;left:481px">

</div>
<div class="ipacro-layout-cell layout-item-2 page-curl" style="position:relative;width:475px" >
  <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('Top Activities')%>
  </h3>
  <%=link_to t('More'),activities_path,class:'morebutton'%>
  <hr>
    <ul>
      <li>&nbsp;</li>
      <% @front_activites.each do |item| %>
        <li style="margin-left:30px">
          <% if item.created_at %>
            <span style="margin-right:40px"><%= item.created_at.strftime('%Y年%m月%d日') %>&nbsp;&nbsp;</span>
          <% end %>
          <%= link_to item.title, item %>
        </li>
      <% end %>
    </ul>
</div>