<div class="ipacro-layout-cell layout-item-0" style="width:50%;padding:5px;position:relative;border-right:1px solid #BBDDEC">
  <%# if @about_image && @about_image.avatar %>
    <!--img width="350" height="250" src=" <%= @about_image.avatar.url %> " style="float: left;"-->
  <%# end %>
  
  <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('about')%>
  </h3>
  <%=link_to t('More'), front_about_path,class:'ipacro-button',style:'position:absolute;right:5px;top:7px'%>
  <hr>
  <% if @about_locale %>
    <%= @about_abstract_locale.html_safe %>
  <%end%>
</div>
<div class="ipacro-layout-cell layout-item-0" style="padding:5px;position:relative;" >
  <div style="position:relative;min-height:150px">
    <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('services')%>
  </h3>
  <%=link_to t('More'), services_path,class:'ipacro-button',style:'position:absolute;right:0;top:3px'%>
  <hr>
  </div>
  <div style="position:relative">
    <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('positions')%>
  </h3>
  <%=link_to t('More'), positions_path,class:'ipacro-button',style:'position:absolute;right:0;top:2px'%>
  <hr>
  </div>
</div>