<div class="ipacro-layout-cell" style="border-right:1px solid #BBDDEC;padding:5px;" >
  <h3 style="margin-bottom:5px">
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('Top News')%>
    <%=link_to t('More'),news_index_path,class:'ipacro-button',style:'position:relative;margin-right:5px;float:right'%>
  </h3>
  
  <hr>
  <ul class="theitem">
  <li>&nbsp;</li>
  <% @front_news.each do |item| %>
    <li style="margin-left:60px">
      <% if item.created_at %>
      <span style="margin-right:40px"><%= item.created_at.strftime('%Y年%m月%d日') %></span>
      <% end %>
      <%= link_to item.title, item %>
    </li>
  <% end %>
  </ul>
</div>
<div class="ipacro-layout-cell" style="padding:5px" >
  <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('Top Activities')%>
    <%=link_to t('More'),activities_path,class:'ipacro-button',style:'position:relative;margin-right:5px;float:right'%>
  </h3>
  
  <hr>
    <ul>
      <li>&nbsp;</li>
      <% @front_activites.each do |item| %>
        <li style="margin-left:60px">
          <% if item.created_at %>
            <span style="margin-right:40px"><%= item.created_at.strftime('%Y年%m月%d日') %>&nbsp;&nbsp;</span>
          <% end %>
          <%= link_to item.title, item %>
        </li>
      <% end %>
    </ul>
</div>