<div class="ipacro-layout-cell layout-item-0" style="width:50%;padding:5px;position:relative">
  <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('about')%>
  </h3>
  <%=link_to t('More'), front_about_path,class:'morebutton'%>
  <hr>
    <div style="height:360px;overflow:hidden">
      <% if @about_abstract_locale %>
        <%= @about_abstract_locale.html_safe %>
      <%end%>
    </div>
</div>
<div class="ipacro-layout-cell layout-item-0" style="padding:5px;position:relative;" >
  <div style="position:relative;min-height:180px">
    <h3>
      <img src="/images/text_green.png" style="margin:-10px 5px;">
      <%=t('services')%>
    </h3>
    <%=link_to t('More'), services_path,class:'morebutton'%>
    <hr>
    <div style="height:180px">
      <% if @service_abstract_locale %>
        <%= @service_abstract_locale.html_safe %>
      <%end%>
    </div>
  </div>
  <div style="position:relative">
    <h3>
      <img src="/images/text_green.png" style="margin:-10px 5px;">
      <%=t('positions')%>
    </h3>
    <%=link_to t('More'), positions_path,class:'morebutton'%>
    <hr>
    <div>
      <% if @position_abstract_locale %>
        <%= @position_abstract_locale.html_safe %>
      <%end%>
    </div>
  </div>
</div>