<div class="ipacro-layout-cell layout-item-0" style="width: 48%;position:relative;min-height:230px" >
  <h3><img src="/images/text_green.png" style="margin:-10px 5px;"><%=t('Top News')%></h3>
  <ul class="theitem" style="margin-left:35px">
  <% @front_news.each do |item| %>
    <li>
      <% if item.created_at %>
      <span style="margin-right:40px"><%= item.created_at.strftime('%Y年%m月%d日') %></span>
      <% end %>
      <%= link_to item.title, item %>
    </li>
  <% end %>
  </ul>
  <span style="position:absolute;margin:10px;bottom:0;right:40px">
    <%=link_to t('More') + '...',news_index_path,class:'ipacro-button'%>
  </span>
</div>
<div class="ipacro-layout-cell layout-item-0" style="width: 48%;padding:0 5px;position:relative" >
  <h3><img src="/images/text_green.png" style="margin:-10px 5px;"><%=t('Top Activities')%></h3>
  <ul class="theitem" style="margin-left:35px">
  <% @front_activites.each do |item| %>
    <li>
      <% if item.created_at %>
        <span style="margin-right:40px"><%= item.created_at.strftime('%Y年%m月%d日') %>&nbsp;&nbsp;</span>
      <% end %>
      <%= link_to item.title, item %>
    </li>
  <% end %>
  </ul>
  <span style="position:absolute;margin:10px;bottom:0;right:40px">
    <%=link_to t('More') + '...',activities_path,class:'ipacro-button'%>
  </span>
</div>