<div class="ipacro-layout-cell layout-item-2 page-curl" style="width:475px;position:relative;background-color:rgba(222, 222, 239, 0.117647)" >
  <h3 style="margin-bottom:5px">
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('Top News')%>
  </h3>
  <%=link_to t('More'),news_index_path,class:'morebutton' %>
  <hr>
    <table>
      <% @front_news.each do |item| %>
        <tr>
          <td style="padding-left:45px;width:110px">
          <% if item.created_at %>
            <%= item.created_at.strftime('%Y-%m-%d') %>
            <%else%>
            &nbsp;
          <% end %>
          </td>
          <td style="width:288px;word-break:break-all;">
            <%= link_to item.title, item %>
          </td>
        </tr>
      <% end %>
    </table>
</div>
<div class="ipacro-layout-cell layout-item-0" style="background-image: url('/images/rings_.png');background-position-x: -6px;position: absolute;z-index: 200;height:210px;width:46px;left:481px">

</div>
<div class="ipacro-layout-cell layout-item-2 page-curl" style="position:relative;width:475px;background-color:rgba(222, 222, 239, 0.117647)" >
  <h3>
    <img src="/images/text_green.png" style="margin:-10px 5px;">
    <%=t('Top Activities')%>
  </h3>
  <%=link_to t('More'),activities_path,class:'morebutton'%>
  <hr>
    <table>
      <% @front_activites.each do |item| %>
        <tr>
          <td style="padding-left:45px;width:110px">
          <% if item.created_at %>
            <%= item.created_at.strftime('%Y-%m-%d') %>
            <%else%>
            &nbsp;
          <% end %>
          </td>
          <td style="width:288px;word-break: break-all;">
            <%= link_to item.title, item %>
          </td>
        </tr>
      <% end %>
    </table>
</div>