<div data-role="controlgroup" data-type="horizontal" style="margin:-1em 0 1em 0;position:fixed">
  <a href="<%=mobile_path%>" data-role="button" data-icon="back" data-mini="true" data-ajax="false"><%=t('home')%></a>
</div>
<h3>
<%= t('activities')%>
</h3>
<ul data-role="listview" data-icon="false" style="margin-top:1em" class="newsactivities">
  <% @items.each do |item| %>
    <li>
      <a href="<%=mobile_activity_show_path(item)%>" data-ajax="false">
        <% if item.created_at %>
          <%= item.created_at.strftime('%Y-%m-%d') %>
        <%else%>
          &nbsp;
        <% end %>
        &nbsp;&nbsp;
        <%=item.title%>
      </a>
    </li>
  <% end %>
  <li>
    <%= paginate @items %>
  </li>
</ul>