  <!-- 幻灯片-->
  <%= render partial:'common/mobile/mob_slideshow' %>
   <!-- 幻灯片 完-->

  <!-- 列表 -->

  <!-- 最新资讯 -->
    <ul data-role="listview" data-inset="true" data-icon="false">
      <li data-role="divider" data-icon="carat-r">
        <%= link_to "最新资讯", mobile_news_path%>
      </li>
      <% @front_news.each do |item| %>
        <li>
        
          <%= link_to item.title, mobile_news_path(item) %>
        </li>
        <% end %>

    </ul>

    <!-- <ul>  
      Links:
      <li>
        <%= link_to "about", '/mobile/about' %>
        <%= link_to "services", '/mobile/services' %>
        <%= link_to "news", '/mobile/news' %>
        <%= link_to "activities", '/mobile/activities' %>
        <%= link_to "positions", '/mobile/positions' %>
      </li>
    </ul>
 -->
  
  <!-- 最新资讯 完 -->

    