  <ul data-role="listview">
    <li>
      <%=t('news')%>
    </li>
    <% @items.each do |item| %>
      <li>
        <a href="<%=mobile_news_show_path(item)%>"><%=item.title%>
          <% if item.created_at %>
            &nbsp;&nbsp;<%= item.created_at.strftime('%Y-%m-%d') %>
          <%else%>
            &nbsp;
          <% end %>
        </a>
      </li>
    <% end %>
  </ul>
<%= paginate @items %>