<div data-role="controlgroup" data-type="horizontal" style="margin:-1em 0 1em 0">
  <a href="<%=mobile_positions_path%>" data-role="button" data-icon="back"  data-mini="true"><%=t('positions')%></a>
  <a href="<%=mobile_path%>" data-role="button" data-icon="home"  data-mini="true"><%=t('home')%></a>
</div>

<h3 style="text-align:center"><%= @item.title %></h3>

<div>
  <%=@item.content.html_safe%>
</div>

<div data-role="controlgroup" data-type="horizontal" data-mini="true">
  <a href="tel:03030303" data-role="button">Call Us</a>
  <a href="mailto:hr@ipa-cro.com" data-role="button">Email Us</a>
</div>