<div data-role="controlgroup" data-type="horizontal" style="margin:-1em 0 1em 0;position:fixed">
  <a href="<%=mobile_services_path%>" data-role="button" data-icon="back"  data-mini="true"><%=t('services')%></a>
  <a href="<%=mobile_path%>" data-role="button" data-icon="home"  data-mini="true" data-ajax="false"><%=t('home')%></a>
</div>

<h3 style="text-align:center"><%= @item.title %></h3>

<div>
  <%=@item.content.html_safe%>
</div>