<style type="text/css">
    ul.content >li.first{
      font-family:icomoon
    }
    #dashboard .monitor{
      float:none;
      margin:5px 30px 7px 30px ;
      display:block;
    }
  </style>
<div id="dashboard">
  <h2 class="header">e 公司简介管理</h2>
  <div class="monitor">
    <div class="clearfix" style="max-height:250px;overflow:hidden">
      <ul class="content" style="float:none">
        <li class="first">
          e 中文简介
        </li>
        <li>
          Abstract
          <%= link_to 'e 编辑', edit_cpanel_site_config_path(@about_abstract_cn) %>
        </li>
        <li style="height:auto;overflow:hidden;font-family:icomoon">
          <%= link_to 'e 编辑', edit_cpanel_site_config_path(@about_cn),class:'submitbutton',style:"text-decoration:none;position:relative;float:right;padding:2px 5px;margin-top:5px;font-size:14px" %>
        </li>
        <li>
          <% if @about_cn %>
          <%= @about_cn.value.html_safe%>
          <%end%>
        </li>
      </ul>
    </div>
  </div>

  <div class="monitor">
    <div class="clearfix" style="max-height:250px;overflow:hidden">
      <ul class="content" style="float:none">
        <li class="first">
          e 英文简介
        </li>

        <li>
          Abstract
          <%= link_to 'e 编辑', edit_cpanel_site_config_path(@about_abstract_en) %>
        </li>
        <li style="height:auto;overflow:hidden;font-family:icomoon">
          <%= link_to 'e 编辑', edit_cpanel_site_config_path(@about_en),class:'submitbutton',style:"text-decoration:none;position:relative;float:right;padding:2px 5px;margin-top:5px" %>
        </li>
        <li>
          <% if @about_en %>
          <%= @about_en.value.html_safe%>
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</div>