<!-- <div class="dashboard-item">
  <div class="item-content">
    <%#= link_to '设置网站基本信息', cpanel_site_configs_path %>
    <a href="/cpanel/site_configs">
      设置网站基本信息
      <span class="item-detail">
      <br>
      </span>
    </a>
    <br>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= new_service_path %>"><%= t('services') %></a></li>
        <li><a href="<%= new_news_path %>"><%= t('news') %></a></li>
        <li><a href="<%= new_activity_path %>"><%= t('activities') %></a></li>
        <li><a href="<%= new_position_path %>"><%= t('positions') %></a></li>
        <li><a href="<%= new_resume_path %>"><%= t('resumes') %></a></li>
        <li><a href=""><%= t('about') %></a></li>
      </ul>
    </div>
    <!- -/.nav-collapse - ->
  </div>
  
</div> -->

<div class="ipacro-postcontent ipacro-postcontent-0 clearfix">
  <div class="ipacro-content-layout">
    <div class="ipacro-content-layout-row">
      <div class="ipacro-layout-cell layout-item-2" style="width: 20%;">

      </div>
      <div class="ipacro-layout-cell layout-item-2" style="width:80%">
        <div class="layout-item-0" style="height:50px;line-height:50px">
          
        </div>
      </div>
    </div>
  </div>
</div>