<div id="dashboard">
  <h2 class="header">c 控制台首页</h2>
  <div class="monitor" style="overflow:hidden;height:300px;">
    <div class="clearfix">
      <ul class="content">
        <li class="first" style="margin-bottom:5px">栏目横幅管理</li>
        <li>关于我们
          <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @about_bar_image} %>
        </li>
        <li>服务项目
          <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @services_bar_image} %>
        </li>
        <li>资讯发布
          <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @news_bar_image} %>
        </li>
        <li>员工天地
          <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @activity_bar_image} %>
        </li>
        <li>招贤纳士
          <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @position_bar_image} %>
        </li>
        <li>缩略语集
          <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @glossary_image} %>
        </li>


      </ul>
    </div>
  </div>

  <div class="monitor" style="height:300px">
    <ul class="content">
      <li class="first" style="margin-bottom:5px">
      首页区块管理
      </li>
      <li>
      关于我们: &nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'e 中文版', edit_cpanel_site_config_path(@about_abstract_cn),class:'submitbutton',style:'padding:8px' %> | <%= link_to 'e 英文版', edit_cpanel_site_config_path(@about_cn),class:'submitbutton',style:'padding:8px' %>
      <li>
         我们的服务: &nbsp;<%= link_to "e 中文版", edit_cpanel_site_config_path(@service_abstract_cn),class:'submitbutton',style:'padding: 8px' %>
         |
         <%= link_to "e 英文版", edit_cpanel_site_config_path(@service_abstract_en),class:'submitbutton',style:'padding: 8px' %>
      </li>
      <li>
        招贤纳士: &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "e 中文版", edit_cpanel_site_config_path(@position_abstract_en),class:'submitbutton',style:'padding: 8px' %>
         | 
        <%= link_to "e 英文版", edit_cpanel_site_config_path(@position_abstract_cn),class:'submitbutton',style:'padding: 8px' %>
      </li>
    </ul>

  </div>
  <div class="monitor">
    <div class="clearfix">
      <ul class="content">
        <li class="first">k 数据统计</li>
        <li class="imgs"><a href="/cpanel/slides">b 图片轮播</a><span class="count"><%= @slides_count %></span></li>
        <li class="srvs"><a href="/cpanel/services">q 服务项目</a><span class="count"><%= @services_count %></span></li>
        <li class="news"><a href="/cpanel/news">d 公司资讯</a><span class="count"><%= @news_count %></span></li>
        <li class="categories"><a href="/cpanel/activities">k 员工活动</a><span class="count"><%= @activities_count %></span></li>
      </ul>
    </div>
  </div>

  <div class="monitor">
    <style type="text/css">
      ul.content>li{
        font-family:"icomoon";
      }
    </style>
    <div class="clearfix">
      <ul class="content">
        <li class="first">t 常用链接</li>
        <li>
          <%= link_to 'd 快速发布资讯', new_cpanel_news_path, class:'submit',style:'display:block;padding:5px;border-radius:10px;text-decoration:none'%>
        </li>
        <li>
          <%= link_to 'h 快速发布员工活动', new_cpanel_activity_path, class:'submit',style:'display:block;padding:5px;border-radius:10px;text-decoration:none'%>
        </li>
      </ul>
    </div>
  </div>

  <div>
    <ul>
      <li>news
        <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @news_content_image} %>
      </li>
      <li>activity
        <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @activity_content_image} %>
      </li>
      <li>position
        <%= render partial: 'common/front_index/cpanel_bar_image', locals: { bar_image: @position_content_image} %>
      </li>
    </ul>
  </div>

  <div>
    <ul>
      <li>Service page
        <%= link_to "e EN", edit_cpanel_site_config_path(@service_content_en),class:'submitbutton',style:'padding: 8px' %>
        <%= link_to "e CN", edit_cpanel_site_config_path(@service_content_cn),class:'submitbutton',style:'padding: 8px' %>
      </li>
    </ul>
  </div>

</div>