<%= simple_form_for([:position, @resume]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title,label:'您的姓名' %>
    <%= f.input :content,label:'个人简介' %>
    <%= f.input :resume_type, label:'类型'%>
  </div>

  <div class="form-actions">
    <button class="ipacro-button" onclick="window.history.go(-1)">返回</button>
    <%= f.button :submit , class:'ipacro-button', value:'提交',style:'font-size:1.2em'%>
  </div>
<% end %>
