<footer class="ipacro-footer">
  <div class="ipacro-footer-inner" style="padding:0;">
    <nav class="footnav">
      <ul>
        <li><a id="home" href="<%= root_path %>"><%= t('home').html_safe %></a></li>
        <li><a id="about" href="<%= front_about_path%>"><%= t('about') %></a></li>
        <li><a href="<%=front_glossary_path%>"><%= t('glossary')%></a></li>
        <li><a id="services" href="<%= services_path %>"><%= t('services') %></a></li>
        <li><a id="news" href="<%= news_index_path %>"><%= t('news') %></a></li>
        <li><a id="activities" href="<%= activities_path %>"><%= t('activities') %></a></li>
        <li><a id="positions" href="<%= positions_path %>"><%= t('positions') %></a></li>
        <li><a id="contact" href="<%= front_contact_path%>"><%= t('contact_us')%></a></li>
      </ul> 
    </nav>
    <div style="text-align:left;font-size:1.2em">
      <%=t('corpaddress')%><br>
      <%=t('corpmail')%><br>
      <%=t('corptel')%><br>
      <%=t('copyright')%>
      <img src="/images/code.jpg" style="float:right;position:relative;top:-55px;margin-right:30px">
    </div>

  </div>

</footer>