<style type="text/css">
  .footnav{
    height:auto;
    overflow: hidden;
    background: #C7E6E2;
    background: linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
    background: -webkit-linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
    background: -moz-linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
    background: -o-linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
    background: -ms-linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
    background: linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
    -svg-background: linear-gradient(top, #ABD9D4 0, #E6F4F2 100%) no-repeat;
  }
  .footnav ul{
    position: relative;
    margin:1px auto;
    width: 800px;
    height: auto;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .footnav ul li{
    float:left;
    width:100px;
    padding: 0;
    line-height: 25px;
    height: 25px;
  }
  .footnav>ul>li>a,.footnav>ul>li>a:visited{text-decoration: none !important;font-size:1.1em !important;}

  .page-curl {
    background: linear-gradient(0deg, #F5F5F5 0%, #FFF 25%, #FFF 75%, #F5F5F5 100%);
    border: 1px solid #777777;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    padding: 15px;
    position: relative;
    width: 70%;
  }
  .page-curl:after {
    transform: skew(4deg) rotate(4deg);
    left: auto;
    right: 12px;
  }
  .page-curl:before, .page-curl:after {
    bottom: 12px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
    content: "";
    height: 10px;
    left: 12px;
    position: absolute;
    width: 40%;
    z-index: -1;
    transform: skew(-4deg) rotate(-4deg);
  }

</style>
<footer class="ipacro-footer">
  <div class="ipacro-footer-inner" style="padding:0;">
    <nav class="footnav">
      <ul>
        <li><a id="home" href="<%= root_path %>"><%= t('home').html_safe %></a></li>
        <li><a id="about" href="<%= front_about_path%>"><%= t('about') %></a></li>
        <li><a href="<%=front_glossary_path%>"><%= t('glossary')%></a></li>
        <li><a id="services" href="<%= services_path %>"><%= t('services') %></a></li>
        <li><a id="news" href="<%= news_index_path %>"><%= t('news') %></a></li>
        <li><a id="activities" href="<%= activities_path %>"><%= t('activities') %></a></li>
        <li><a id="positions" href="<%= positions_path %>"><%= t('positions') %></a></li>
        <li><a id="contact" href="<%= front_contact_path%>"><%= t('contact_us')%></a></li>
      </ul> 
    </nav>
    <div style="text-align:left;margin-left:30px">
      <%=t('corpaddress')%><br>
      <%=t('corpmail')%><br>
      <%=t('corptel')%><br>
      <%=t('copyright')%>
      <img src="/images/code.jpg" style="float:right;position:relative;top:-45px;margin-right:30px">
    </div>

  </div>

</footer>