<header class="ipacro-header">
  <div class="ipacro-shapes">
  </div>
  <img src="/images/logo_.png" style="width:110px">
  <span class="headerspan" style="left:15px">信必达医药</span>
  <h1 class="ipacro-headline" style="top:10px;left:155px">
    <a href="/" class="ipacro-head">IPA-CRO</a>
  </h1>
  <span class="headerspan" style="left:145px;font-family:'arial','Microsoft YaHei';text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #ddeeed;">A Special CRO in China</span>
  <span style="position:absolute;bottom:40%;right:15px">
    <%= form_tag front_search_path, :method => 'get' do %>
    <%= text_field_tag :key, params[:key],type:"search", placeholder:t('Site Search'), size:"20" %>
    <%#= submit_tag t('Search'), :name => nil ,class:"ipacro-button"%>
    <input type="image" src="/images/search.png" name="searchbtn" style="position:absolute;right:0px;top:0px">
  <% end %>
  </span>
  <span class="ipacro-postcontent" style="position:absolute;bottom:10%;right:30%;">
    <a id="glossaries" href="<%=front_glossary_path%>"><img src="/images/book-open-icon.png" style="margin-bottom:-3px;width:24px;height:24px">&nbsp;<%= t('glossary')%></a>
  </span>
  <span class="ipacro-postcontent" style="position:absolute;bottom:10%;right:20%;">
    <a href="mailto:derek.yue@ipa-cro.com?subject=Enquery"><img src="/images/Places-mail24.png" style="margin-bottom:-7px;"><%=t('mailus')%></a>
  </span>
  <span class="ipacro-postcontent" style="position:absolute;bottom:10%;right:5px;">
    <a href="/zh-CN" class="langcn">
      <img src="/images/lang_cn.png" style="margin-bottom:-3px">&nbsp;中文版
    </a>
    &nbsp;|&nbsp;
    <a href="/en" class="langen">
      <img src="/images/lang_en.png" style="margin-bottom:-3px">&nbsp;English
    </a>
  </span>
</header>