<nav class="ipacro-nav">
  <%= form_tag front_search_path, :method => 'get' do %>
    <%= text_field_tag :key, params[:key],type:"search", placeholder:"请输入关键字", size:"20" %>
    <%= submit_tag "搜索", :name => nil ,class:"ipacro-button"%>
  <% end %>
  <%#= link_to "用户信息", root_path %>
<!--   <ul>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
      <%= link_to '登录', new_user_session_path %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
    <% else %>
      <li>
      <%= link_to '注册', new_user_registration_path %>
      </li>
    <% end %>
  </ul> -->
  <ul class="ipacro-hmenu">
    <li><a id="home" href="<%= root_path %>">首&nbsp;&nbsp;页</a></li>
    <li><a id="about" href="<%=front_about_path%>"><%= t('about') %></a></li>
    <li><a id="services" href="<%= services_path %>"><%= t('services') %></a></li>
    <li><a id="news" href="<%= news_index_path %>"><%= t('news') %></a></li>
    <li><a id="activities" href="<%= activities_path %>"><%= t('activities') %></a></li>
    <li><a id="positions" href="<%= positions_path %>"><%= t('positions') %></a></li>
    <li><a id="contact" href="<%=front_contact_path%>"><%= t('contact_us')%></a></li>
    <li><a id="glossaries" href="<%=front_glossary_path%>"><%= t('glossary')%></a></li>
  </ul> 
</nav>
<script type="text/javascript" src="/js/addmenuclass.js"></script>