<nav class="ipacro-nav">
  <ul class="ipacro-hmenu">
    <li><a id="home" href="<%= root_path %>"><%= t('home').html_safe %></a></li>
    <li><a id="about" href="<%= front_about_path%>"><%= t('about') %></a></li>
    <li>
      <a id="services" href="<%= services_path %>"><%= t('services') %></a>
      <ul class="">
        <% @services.each do |service| %>
        <li>
          <%= link_to service.title, service %>
        </li>
        <%end%>
      </ul>
    </li>
    <li><a id="news" href="<%= news_index_path %>"><%= t('news') %></a></li>
    <li><a id="activities" href="<%= activities_path %>"><%= t('activities') %></a></li>
    <li><a id="positions" href="<%= positions_path %>"><%= t('positions') %></a></li>
    <li><a id="contact" href="<%= front_contact_path%>"><%= t('contact_us')%></a></li>
  </ul> 
</nav>
<script type="text/javascript" src="/js/addmenuclass.js"></script>