<nav class="ipacro-nav">
  <%#= link_to "用户信息", root_path %>
<!--   <ul>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li>
      <%= link_to '登录', new_user_session_path %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
      </li>
    <% else %>
      <li>
      <%= link_to '注册', new_user_registration_path %>
      </li>
    <% end %>
  </ul> -->
  <ul class="ipacro-hmenu">
    <li><a href="<%= root_path %>">首&nbsp;&nbsp;页</a></li>
    <li><a href=""><%= t('about') %></a></li>
    <li><a href="<%= services_path %>"><%= t('services') %></a></li>
    <li><a href="<%= news_index_path %>"><%= t('news') %></a></li>
    <li><a href="<%= activities_path %>"><%= t('activities') %></a></li>
    <li><a href="<%= positions_path %>"><%= t('positions') %></a></li>
    <li><a href="#">联系我们</a></li>
  </ul> 
</nav>