<%= simple_form_for([:cpanel, @position]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="margin:5px;font-size:12px;color:gray">
    <%= f.input :title ,label:'职位名称：'%>
    <br>
    <%= f.input :position_type,label:'职位级别：' %>
    <br>
    <%= f.input :content,label:'职位描述：' %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, " 发 布 ",class:"submitbutton",style:'padding:1px 5px'%>
    <button class="submitbutton" style="padding:1px 10px;margin:0px 15px" onclick="window.history.go(-1);return false;">取 消</button>
  </div>
<% end %>
<script>
CKEDITOR.replace('position_content');
</script>