<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<div id="dashboard">
  <h2 class="header">d 资讯发布管理</h2>
  <div class="monitor quick-press">
    <div class="clearfix">
      <ul class="content">
        <li class="first">公司快讯</li>
        <% @news.each do |news| %>
          <li style="font-size:1.1em">
            <%= link_to news.title, news %>
            <% if news.created_at %>
              <%= news.created_at.strftime('%Y-%m-%d') %>
            <% end %>
            <span><%= link_to 'Edit', edit_cpanel_news_path(news) %></span>
            <span><%= link_to 'Destroy', cpanel_news_path(news), method: :delete, data: { confirm: 'Are you sure?' } %></span>
          </li>
        <%end%>
      </ul>
      <%= paginate @news %>
    </div>
  </div>
</div>