<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial:'common/mobile/mob_head' %>

  </head>
  <body>
    <div data-role="page">
    <!-- 公用头部 -->
    <%= render partial:'common/mobile/mob_header' %>
    <!-- 公用头部 完 -->

    <!-- 主体部分 -->
    <div data-role="content">
      <%=yield%>
    </div>
    <!-- 主体部分 完 -->

    <!-- 公用底部 -->
    <%= render partial:'common/mobile/mob_footer' %>
    <!-- 公用底部 完 -->
    <script type="text/javascript" scr="/js/mobile/addclassactive.js"></script>
    <!--左侧边栏-->
    <%= render partial: 'common/mobile/mob_lpanel'%>
    <!--左侧边栏 完-->
    <!--右侧边栏-->
    <%= render partial: 'common/mobile/mob_rpanel'%>
    <!--右侧边栏 完-->
    </div>
    <script type="text/javascript">
  $(document).ready(function(){
    var url = document.URL;
    if(/about/.test(url.toLowerCase()))
    {
      $("#about").addClass("ui-btn-active");
    }
    else if(/services/.test(url.toLowerCase()))
    {
      $("#services").addClass("ui-btn-active");
    }
    else if(/positions/.test(url.toLowerCase()))
    {
      $("#positions").addClass("ui-btn-active");
    }
    else if(/contact/.test(url.toLowerCase()))
    {
      $("#contact").addClass("ui-btn-active");
    }
});
</script>
  </body>
</html>